h1 {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 60px;
}

ul {
    display: flex;
}

li {
    margin: 30px;
}

div {
    display: flex;
    justify-content: center;
}

#decoration {
    margin-top: 50px;
    width: 500px;
    height: auto;
}

.main {
    width: 500px;
    height: auto;
}

.section1 {
    display: flex;
    justify-content: space-evenly;
}

.desc {
    width: 600px;
}

.descriptions {
    display: flex;
    flex-direction: column;
    
}