h1 {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 60px;
}

ul {
    display: flex;
}

li {
    margin: 30px;
}

div {
    display: flex;
    justify-content: center;
}

img {
    margin-top: 50px;
    width: 500px;
    height: auto;
}